<main>
  <header class="navbar">
    <div class="search-container">
      <input type="text" name="search" id="we" placeholder="Type Anything" [(ngModel)]="Search" (keyup.enter)="generateImage()" required>
      <button (click)="generateImage()" class="search">Get</button>
    </div>
  </header>

  <section class="result">
    <div class="chat-container">
      <div *ngFor="let msg of messages" [ngClass]="{
        'left': msg.role === 'assistant',
        'right': msg.role === 'user'
      }" class="chat" >
      <p [innerHTML]="msg.content" > </p>
      </div>
    </div>
  </section>
</main>
